@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

/* Figure */
img+p {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

/* code {
  display: none;
} */

article[size="A4"] {
  display: block;
  width: 21cm;
  background: white;
  padding: 1cm;
  margin: 1cm auto;
  /* margin-bottom: 0.5cm; */
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media print {

  body,
  article[size="A4"] {
    margin: 0;
    padding: initial;
    box-shadow: initial;
  }

  img {
    width: 85%;
  }


}